/** Add css rules here for your application. */
@color: #f938ab;

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif;
    color: @color;
}

.user-table-row {
    display:table-row;
    width:auto;

}

.user-table-button {
    float:left;
    display:table-column;
    width:200px;
    background-color:#ccc;
}

.user-table-label {
    float: left;
    display:table-column;
    width:200px;
    background-color:#ccc;
}

.user-table {
    display: table;
    width: auto;
    background-color:#eee;
    border:1px solid  #666666;
    border-spacing:5px;/*cellspacing:poor IE support for  this*/
    /* border-collapse:separate;*/

}

.feed-user-label {
    font-size: 20px;

}

.feed-feed-label {
    font-size: 16px;
    color: blue;

}
