<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
        version="3.0">

    <listener>
        <listener-class>dk.tokebroedsted.listeners.ApplicationServletContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>dk.tokebroedsted.hibernate.HibernateListener</listener-class>
    </listener>

    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>dk.tokebroedsted.hibernate.SessionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <servlet-name>*</servlet-name>
    </filter-mapping>

    <servlet>
        <servlet-name>gwtServlet</servlet-name>
        <servlet-class>dk.tokebroedsted.CustomRequestFactoryServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>gwtServlet</servlet-name>
        <url-pattern>/gwtRequest</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FeedSetupService</servlet-name>
        <servlet-class>dk.tokebroedsted.feedsetup.server.FeedSetupServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedSetupService</servlet-name>
        <url-pattern>/FeedSetup/FeedSetupService</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FeedSetup</servlet-name>
        <servlet-class>dk.tokebroedsted.pages.FeedSetupPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedSetup</servlet-name>
        <url-pattern>/FeedSetup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServerStatus</servlet-name>
        <servlet-class>dk.tokebroedsted.pages.ServerStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServerStatus</servlet-name>
        <url-pattern>/ServerStatus</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>dk.tokebroedsted.pages.UserPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/User</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserService</servlet-name>
        <servlet-class>dk.tokebroedsted.user.server.UserServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserService</servlet-name>
        <url-pattern>/User/UserService</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Feed</servlet-name>
        <servlet-class>dk.tokebroedsted.pages.FeedPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Feed</servlet-name>
        <url-pattern>/Feed</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FeedService</servlet-name>
        <servlet-class>dk.tokebroedsted.feed.server.FeedServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FeedService</servlet-name>
        <url-pattern>/Feed/FeedService</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>dk.tokebroedsted.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>dk.tokebroedsted.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>dk.tokebroedsted.pages.ErrorPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>dk.tokebroedsted.pages.HomePage</welcome-file>
    </welcome-file-list>

    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/Error</location>
    </error-page>

</web-app>
