BODY {
    background-color: #add8e6;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.top-panel {
    height: 100px;
    width: 100%;
    background-color: #B7FF66;
}

.tabs {
    float: right;
    position: relative;
    display: inline;
}

.tab {
    display: inline;
}

.content {
    background-color: white;
    padding: 10px;
    height: 500px;
}

/* TAB MENU
----------------------------------------------------------*/
ul#menu {
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: left;
}

ul#menu li {
    display: inline;
    list-style: none;
}

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: Green;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/*  MISC
-------------------------------------------------------------------*/
#logindisplay {
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link {
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited {
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover {
    color: white;
    text-decoration: none;
}

#main {
    padding: 30px 30px 15px 30px;
    background-color: white;
    border-radius: 4px 4px 4px 4px;
    height: 500px;
    /*-webkit-border-bottom-left-radius: 4px 4px 0 0;*/
    /*-moz-border-radius: 4px 0 0 0;*/
}

div#title {
    display: block;
    float: left;
    text-align: left;
}